In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("../data/ORD_11_21-11_22.csv")

C:\Users\adenr\AppData\Local\Temp\ipykernel_18776\52707288.py:1: DtypeWarning: Columns (12,14,87,94) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/ORD_11_21-11_22.csv")

In [14]:
df['CarrierDelay'] = df['CarrierDelay'].fillna(0)
df['WeatherDelay'] = df['WeatherDelay'].fillna(0)
df['NASDelay'] = df['NASDelay'].fillna(0)
df['SecurityDelay'] = df['SecurityDelay'].fillna(0)
df['LateAircraftDelay'] = df['LateAircraftDelay'].fillna(0)

In [15]:
init_test_lst = ['Marketing_Airline_Network', 'Origin', 'DepTimeBlk', 'DepDelay', 'ArrTimeBlk', 'ArrDelay', 'Distance', 'CarrierDelay', 'WeatherDelay',
                  'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'TaxiIn', 'TaxiOut']
model_col_lst = ['FlightDate', 'DOT_ID_Marketing_Airline', 'OriginAirportSeqID', 'DepTimeBlk', 'DepDelay', 'DepDel15', 'DestAirportSeqID', 'ArrTimeBlk', 'ArrivalDelayGroups', 'ArrDelay',
                  'Distance', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'TaxiIn', 'TaxiOut', 'ArrDel15', 'CRSElapsedTime',
                  'CRSDepTime', 'CRSArrTime', 'Quarter', 'Month', 'DayOfWeek', 'DepartureDelayGroups']

# blk_mapping.csv as a dict
blk_map_dict ={
    '0001-0559' : 0,
    '0600-0659' : 6,
    '0700-0759' : 7,
    '0800-0859' : 8,
    '0900-0959' : 9,
    '1000-1059' : 10,
    '1100-1159' : 11,
    '1200-1259' : 12,
    '1300-1359' : 13,
    '1400-1459' : 14,
    '1500-1559' : 15,
    '1600-1659' : 16,
    '1700-1759' : 17,
    '1800-1859' : 18,
    '1900-1959' : 19,
    '2000-2059' : 20,
    '2100-2159' : 21,
    '2200-2259' : 22,
    '2300-2359' : 23
}

In [16]:
model_df = df.copy()

In [17]:
model_df['DepTimeBlk'] = df['DepTimeBlk'].apply(lambda x: blk_map_dict.get(x))
model_df['ArrTimeBlk'] = df['ArrTimeBlk'].apply(lambda x: blk_map_dict.get(x))

In [18]:
model_df = model_df[model_col_lst]
print(model_df.columns)
model_df.head()

Index(['FlightDate', 'DOT_ID_Marketing_Airline', 'OriginAirportSeqID',
       'DepTimeBlk', 'DepDelay', 'DepDel15', 'DestAirportSeqID', 'ArrTimeBlk',
       'ArrivalDelayGroups', 'ArrDelay', 'Distance', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay',
       'TaxiIn', 'TaxiOut', 'ArrDel15', 'CRSElapsedTime', 'CRSDepTime',
       'CRSArrTime', 'Quarter', 'Month', 'DayOfWeek', 'DepartureDelayGroups'],
      dtype='object')

,FlightDate,DOT_ID_Marketing_Airline,OriginAirportSeqID,DepTimeBlk,DepDelay,DepDel15,DestAirportSeqID,ArrTimeBlk,ArrivalDelayGroups,ArrDelay,...,TaxiIn,TaxiOut,ArrDel15,CRSElapsedTime,CRSDepTime,CRSArrTime,Quarter,Month,DayOfWeek,DepartureDelayGroups
0,2021-11-17,19977,1393007,14,7.0,0.0,1043105,17,0.0,1.0,...,2.0,36.0,0.0,116.0,1405,1701,4,11,3,0.0
1,2021-11-17,19977,1079206,17,19.0,1.0,1393007,18,2.0,30.0,...,18.0,31.0,1.0,127.0,1730,1837,4,11,3,1.0
2,2021-11-17,19977,1334207,6,-10.0,0.0,1393007,7,-1.0,-11.0,...,15.0,20.0,0.0,65.0,620,725,4,11,3,-1.0
3,2021-11-17,19977,1393007,12,-6.0,0.0,1419306,15,0.0,4.0,...,4.0,35.0,0.0,153.0,1255,1528,4,11,3,-1.0
4,2021-11-17,19977,1419306,16,0.0,0.0,1393007,18,-1.0,-13.0,...,9.0,17.0,0.0,159.0,1601,1840,4,11,3,0.0

In [19]:
model_df = model_df[model_df['ArrDelay'] < 720]

In [20]:
model_df = model_df.dropna()

In [21]:
model_df.isna().values.any()

False

In [22]:
print(len(model_df))

582045

In [23]:
model_df.to_csv('../data/ORD_11_21-11-22_model.csv')